BODY {
	BACKGROUND: #f4faff; COLOR: #000; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; FONT: 12px/180% 宋体; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
HR {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	TEXT-ALIGN: left; FONT: 12px/180% 宋体; MARGIN: 0px auto
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
EM {
	FONT-STYLE: normal
}
I {
	FONT-STYLE: normal
}
.clear {
	CLEAR: both
}
.clearfix:after {
	HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
H1 {
	FONT-SIZE: 26px
}
H2 {
	FONT-SIZE: 18px
}
H3 {
	FONT-SIZE: 16px
}
H4 {
	FONT-SIZE: 14px
}
.mt10 {
	MARGIN-TOP: 10px
}
.w980 {
	WIDTH: 980px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.list_14 LI {
	FONT-SIZE: 14px; BACKGROUND: url(images/dot.gif) no-repeat 0px 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 180%
}
.list_14b LI {
	FONT-SIZE: 14px; BACKGROUND: url(images/dot.gif) no-repeat 0px 12px; PADDING-LEFT: 10px; LINE-HEIGHT: 200%
}
.list_12 LI {
	BACKGROUND: url(images/dot.gif) no-repeat 0px 10px; PADDING-LEFT: 10px
}
.search SPAN {
	COLOR: #666
}
.d2_2 SPAN A {
	COLOR: #666
}
.d2_2 SPAN A:link {
	COLOR: #666
}
.d2_2 SPAN A:visited {
	COLOR: #666
}
.search A {
	COLOR: #333
}
.search A:link {
	COLOR: #333
}
.search A:visited {
	COLOR: #333
}
.zt_2 {
	COLOR: #333
}
.zt_2 A {
	COLOR: #333
}
.zt_2 A:link {
	COLOR: #333
}
.zt_2 A:visited {
	COLOR: #333
}
.p1_right H1 {
	COLOR: #cc0000
}
.p1_right H1 A {
	COLOR: #cc0000
}
.p1_right H1 A:link {
	COLOR: #cc0000
}
.p1_right H1 A:visited {
	COLOR: #cc0000
}
.p2_2_1 DIV H3 EM A {
	COLOR: #cc0000
}
.d2_3 {
	COLOR: #4276b0
}
.d2_3 A {
	COLOR: #4276b0
}
.d2_3 A:link {
	COLOR: #4276b0
}
.d2_3 A:visited {
	COLOR: #4276b0
}
.zt_4 {
	COLOR: #4276b0
}
.zt_4 A {
	COLOR: #4276b0
}
.zt_4 A:link {
	COLOR: #4276b0
}
.zt_4 A:visited {
	COLOR: #4276b0
}
.p1_2 SPAN {
	COLOR: #036
}
.p2_1 LI {
	COLOR: #036
}
.p2_1 LI A {
	COLOR: #036
}
.p2_1 LI A:link {
	COLOR: #036
}
.p2_2_3 H3 {
	COLOR: #036
}
.p2_3_2 {
	COLOR: #036
}
.p2_3_1 H3 A.one {
	COLOR: #036
}
.yq_content H3 {
	COLOR: #036
}
.d2_3 SPAN {
	COLOR: #036
}
.zt_1 {
	COLOR: #036
}
.wb_right H1 {
	COLOR: #036
}
.p2_1 LI A:visited {
	COLOR: #990000
}
.p2_1 LI A:hover {
	COLOR: #990000
}
.p2_2_1 DIV P B {
	COLOR: #990000
}
.p2_2_1 DIV P B A {
	COLOR: #990000
}
.p2_2_1 DIV P B A:link {
	COLOR: #990000
}
.p2_2_1 DIV P B A:visited {
	COLOR: #990000
}
.p2_3_1 P A {
	COLOR: #990000
}
.p2_3_1 P A:link {
	COLOR: #990000
}
.p2_3_1 P A:visited {
	COLOR: #990000
}
.p2_2_2 H2 {
	COLOR: #ff0000
}
.p2_2_2 H2 A {
	COLOR: #ff0000
}
.p2_2_2 H2 A:link {
	COLOR: #ff0000
}
.p2_2_2 H2 A:visited {
	COLOR: #ff0000
}
.p2_2_3 UL LI A {
	COLOR: #fffffe
}
.p2_2_3 UL LI A:link {
	COLOR: #fffffe
}
.p2_2_3 UL LI A:visited {
	COLOR: #fffffe
}
.p2_3_1 H3 A.two {
	COLOR: #69c
}
.wb_right H4 {
	COLOR: #369
}
.wb_right H2 {
	COLOR: #369
}
.search {
	HEIGHT: 36px; BACKGROUND: url(images/searchbg.gif) repeat-x
}
.search SPAN {
	FLOAT: left
}
.p1_2 SPAN {
	FLOAT: left
}
.p1_4 SPAN {
	FLOAT: left
}
.p2_2_left SPAN {
	FLOAT: left
}
.p2_2_1 DIV P B {
	FLOAT: left
}
.search EM {
	FLOAT: right
}
.p2_2_left DIV {
	FLOAT: right
}
.search IMG {
	VERTICAL-ALIGN: middle
}
.search EM SELECT {
	VERTICAL-ALIGN: middle
}
.search EM INPUT {
	VERTICAL-ALIGN: middle
}
.p2_1 LI IMG {
	VERTICAL-ALIGN: middle
}
.search SPAN {
	HEIGHT: 28px; PADDING-TOP: 8px
}
.search EM {
	HEIGHT: 31px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
.search EM SELECT {
	FONT-SIZE: 12px
}
.search EM INPUT {
	FONT-SIZE: 12px
}
.p1_content {
	OVERFLOW: hidden; BORDER-TOP: #d2d1d1 1px solid; HEIGHT: 277px; BACKGROUND: url(images/p1bg.gif); MARGIN-TOP: 1px
}
.p1_left {
	TEXT-ALIGN: center; PADDING-TOP: 8px; WIDTH: 414px
}
.p1_right {
	WIDTH: 566px
}
.p1_right H1 {
	FONT-FAMILY: 黑体
}
.p2_1 LI {
	FONT-FAMILY: 黑体
}
.p2_2_1 DIV H3 EM {
	FONT-FAMILY: 黑体
}
.wb_right H1 {
	FONT-FAMILY: 黑体
}
.p1_right H1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px
}
.p1_right H1 SPAN {
	OVERFLOW: hidden; BACKGROUND: url(images/dian1.gif) repeat-x 50% bottom; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; DISPLAY: inline-block; PADDING-RIGHT: 0px
}
.p1_1 {
	PADDING-BOTTOM: 3px; PADDING-TOP: 5px; PADDING-LEFT: 19px; MARGIN: 0px auto; PADDING-RIGHT: 19px; WIDTH: 528px
}
.p1_1 {
	BORDER-BOTTOM: #d2d1d1 1px solid
}
.p1_content {
	BORDER-BOTTOM: #d2d1d1 1px solid
}
.p1box {
	OVERFLOW: hidden; MARGIN: 1px auto 0px; WIDTH: 563px
}
.p1box {
	BACKGROUND: url(images/p1_1.gif) #fff repeat-x 50% top
}
.p2_2_1 DIV {
	BACKGROUND: url(images/p1_1.gif) #fff repeat-x 50% top
}
.p2_3_1 {
	BACKGROUND: url(images/p1_1.gif) #fff repeat-x 50% top
}
.p1_c {
	BACKGROUND: url(images/dian2.gif) repeat-y right 50%; PADDING-TOP: 2px; WIDTH: 333px
}
.p1_t {
	WIDTH: 230px
}
.p1_2 {
	MARGIN: 0px auto; WIDTH: 310px
}
.p1_3 {
	MARGIN: 0px auto; WIDTH: 310px
}
.p1_2 {
	FONT-SIZE: 12px; BORDER-BOTTOM: #deecf8 1px solid; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; TEXT-ALIGN: right
}
.p1_2 SPAN {
	FONT-SIZE: 16px; BACKGROUND: url(images/icon2.gif) no-repeat left 50%; FONT-WEIGHT: bold; PADDING-LEFT: 14px
}
.p1_2 {
	HEIGHT: 26px; LINE-HEIGHT: 26px
}
.p1_2 SPAN {
	HEIGHT: 26px; LINE-HEIGHT: 26px
}
.p1_3 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.p1_5 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.p2_2_1 DIV UL.list_14 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.p2_3_1 UL {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.p1_4 {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 210px
}
.p1_5 {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 210px
}
.p2_left {
	WIDTH: 171px
}
.p2_right {
	WIDTH: 799px
}
.p2_1 LI {
	MARGIN-BOTTOM: 0px; FONT-SIZE: 14px; HEIGHT: 24px; FONT-WEIGHT: bold; PADDING-TOP: 2px; WIDTH: 171px
}
.p2_1 LI IMG {
	MARGIN: 0px 8px 0px 6px
}
.p2_1 LI A {
	TEXT-DECORATION: none
}
.p2_1 LI A:link {
	TEXT-DECORATION: none
}
.p2_2_content {
	OVERFLOW: hidden; WIDTH: 799px
}
.p2_3_content {
	OVERFLOW: hidden; WIDTH: 799px
}
.p2_2_left {
	WIDTH: 556px
}
.p2_2box {
	WIDTH: 556px
}
.p2_3_left {
	WIDTH: 556px
}
.p3_content DIV.p2_3_left {
	WIDTH: 534px
}
.p3_content DIV.p2_3_1 UL.list_14b {
	WIDTH: 534px
}
.p2_2_right {
	WIDTH: 233px
}
.p2_2box {
	MARGIN-BOTTOM: 5px
}
.p2_2_left SPAN {
	TEXT-ALIGN: center; DISPLAY: inline-block
}
.p2_2_left SPAN IMG {
	DISPLAY: block
}
.p2_2_1 {
	OVERFLOW: hidden; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 430px
}
.p2_2_1 {
	BORDER-TOP: #d2d1d1 1px solid; BORDER-RIGHT: #d2d1d1 1px solid; BORDER-BOTTOM: #d2d1d1 1px solid; BORDER-LEFT: #d2d1d1 1px solid
}
.p2_2_2 {
	BORDER-TOP: #d2d1d1 1px solid; BORDER-RIGHT: #d2d1d1 1px solid; BORDER-BOTTOM: #d2d1d1 1px solid; BORDER-LEFT: #d2d1d1 1px solid
}
.p2_2_3 {
	BORDER-TOP: #d2d1d1 1px solid; BORDER-RIGHT: #d2d1d1 1px solid; BORDER-BOTTOM: #d2d1d1 1px solid; BORDER-LEFT: #d2d1d1 1px solid
}
.p2_2_1 DIV {
	MARGIN: 1px auto 0px; WIDTH: 428px
}
.p2_2_1 DIV H3 {
	FONT-SIZE: 16px; PADDING-RIGHT: 5px; WIDTH: 415px
}
.p2_2_1 DIV UL.list_14b {
	PADDING-TOP: 5px; MARGIN: 0px auto; WIDTH: 414px
}
.p2_2_1 DIV P {
	TEXT-ALIGN: right; MARGIN: 0px auto; WIDTH: 412px
}
.p2_2_1 DIV P B {
	FONT-SIZE: 14px
}
.p2_2_1 DIV P B IMG {
	MARGIN-RIGHT: 6px
}
.p2_2_2 {
	BACKGROUND: url(images/p2_2.gif) #dae9f6 repeat-x 50% top; WIDTH: 231px
}
.p2_2_2 H2 {
	MARGIN: 0px auto; WIDTH: 210px
}
.p2_2_2 P {
	MARGIN: 0px auto; WIDTH: 210px
}
.p2_2_2 SPAN {
	MARGIN: 0px auto; WIDTH: 210px
}
.p2_2_2 H2 {
	PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.p2_2_2 P {
	TEXT-INDENT: 2em
}
.p2_2_2 SPAN {
	TEXT-ALIGN: center; PADDING-TOP: 3px; DISPLAY: inline-block
}
.p2_2_2 EM {
	TEXT-ALIGN: center; PADDING-TOP: 3px; DISPLAY: inline-block
}
.p2_2_2 SPAN IMG {
	BORDER-TOP: #d2d2d2 1px solid; BORDER-RIGHT: #d2d2d2 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #d2d2d2 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-RIGHT: 5px
}
.p2_2_2 EM {
	PADDING-BOTTOM: 3px; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 231px
}
.p2_2_2 EM A {
	MARGIN: 0px 4px
}
.p2_2_3 {
	OVERFLOW: hidden; BACKGROUND: #fff; PADDING-BOTTOM: 7px; MARGIN-TOP: 12px; WIDTH: 231px
}
.p2_2_3 H3 {
	HEIGHT: 29px; BACKGROUND: url(images/p2_3.gif) repeat-x; PADDING-LEFT: 12px; LINE-HEIGHT: 29px
}
.p2_3_2 {
	HEIGHT: 29px; BACKGROUND: url(images/p2_3.gif) repeat-x; PADDING-LEFT: 12px; LINE-HEIGHT: 29px
}
.p2_2_3 UL {
	MARGIN: 6px auto 0px; WIDTH: 228px
}
.p2_2_3 UL LI {
	BACKGROUND: #707070; FLOAT: left; TEXT-ALIGN: center; MARGIN: 2px 8px 0px; DISPLAY: inline; WIDTH: 60px
}
.p2_2_3 UL LI IMG {
	DISPLAY: block
}
.p2_2_4 {
	TEXT-ALIGN: center; PADDING-TOP: 10px
}
.ad_1 {
	MARGIN-TOP: 3px; WIDTH: 799px
}
.p2_3_content {
	BACKGROUND: url(images/p2bg2.gif); WIDTH: 799px
}
.p2_3_line {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND: url(images/p2line2.gif) no-repeat
}
.p2_3_1 {
	MARGIN: 1px auto 0px; WIDTH: 552px
}
.p2_3_1 H3 {
	MARGIN: 0px auto; WIDTH: 538px
}
.p2_3_1 UL {
	MARGIN: 0px auto; WIDTH: 530px
}
.p2_3_1 P {
	MARGIN: 0px auto; WIDTH: 530px
}
.p2_3_1 P {
	FONT-SIZE: 14px; PADDING-BOTTOM: 5px
}
.p2_3_1 P IMG {
	MARGIN-RIGHT: 6px
}
.p2_3_line2 {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND: url(images/p2_3_line1.gif) no-repeat; WIDTH: 556px
}
.p2_3_line3 {
	OVERFLOW: hidden; HEIGHT: 16px; BACKGROUND: url(images/p2_3_line2.gif) no-repeat; WIDTH: 556px
}
.p2_3_2 {
	MARGIN: 0px auto; WIDTH: 219px
}
.p2_3_3 {
	MARGIN: 0px auto; WIDTH: 219px
}
.p2_3_4 {
	MARGIN: 0px auto; WIDTH: 219px
}
.p2_3_3 LI {
	OVERFLOW: hidden; BACKGROUND: url(images/dian1.gif) repeat-x 50% bottom; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 220px
}
.p2_3_3 LI IMG {
	FLOAT: left; MARGIN-RIGHT: 8px
}
.p2_3_3 LI SPAN {
	FLOAT: right; TEXT-ALIGN: right; DISPLAY: block; WIDTH: 90px
}
.p2_3_4 OL {
	FLOAT: left; MARGIN-TOP: 8px; WIDTH: 118px
}
.p2_3_4 OL LI {
	POSITION: relative; PADDING-BOTTOM: 15px; TEXT-ALIGN: center; WIDTH: 118px
}
.p2_3_4 LI SPAN {
	HEIGHT: 35px; BACKGROUND: url(images/icon21.gif) no-repeat; POSITION: absolute; LEFT: 44px; FILTER: alpha(opacity=80); TOP: 25px; WIDTH: 35px; -moz-opacity: 0.8; opacity: 0.8
}
.p2_3_4 UL {
	FLOAT: right; WIDTH: 96px
}
.p2_3_4 UL LI {
	HEIGHT: 25px; BACKGROUND: url(images/icon22.gif) no-repeat left 50%; BORDER-BOTTOM: #deecf8 1px solid; PADDING-LEFT: 15px; LINE-HEIGHT: 25px
}
.p2_3_4 P {
	TEXT-ALIGN: right
}
.p2_3_7 P {
	TEXT-ALIGN: right
}
.ad_2 {
	MARGIN-TOP: 10px
}
.p2_3_5 UL LI {
	BACKGROUND: url(images/icon23.gif) no-repeat left 50%
}
.p2_3_5 P {
	PADDING-BOTTOM: 10px
}
.p2_3_6 {
	MARGIN: 10px auto 0px; WIDTH: 226px
}
.p2_3_6 LI {
	FLOAT: left; MARGIN: 0px 2px 0px 3px; DISPLAY: inline
}
.p2_3_6 LI IMG {
	BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid; BORDER-BOTTOM: #cbcbcb 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #cbcbcb 1px solid; PADDING-RIGHT: 2px
}
.p2_3_7 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px auto; LINE-HEIGHT: 200%; PADDING-RIGHT: 0px; WIDTH: 210px
}
.p2_3_7 P {
	PADDING-TOP: 8px
}
.yq_content {
	OVERFLOW: hidden; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #d6d6d6 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; BORDER-LEFT: #d6d6d6 1px solid; MARGIN-TOP: 11px; PADDING-RIGHT: 0px
}
.yq_content H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.yq_content P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.yq_content P A {
	MARGIN: 0px 5px
}
.yq_content P {
	PADDING-TOP: 10px
}
.d2list_line {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND: url(images/d2listline.gif) no-repeat; WIDTH: 782px
}
.d2list_content {
	BACKGROUND: url(images/d2listbg.gif); MARGIN: 0px auto 0px 0px; WIDTH: 782px
}
.d2_left {
	WIDTH: 539px
}
.d2_1 {
	MARGIN-TOP: 0px
}
.d2_2 SPAN A {
	MARGIN: 0px 5px
}
.d2_3 {
	BORDER-TOP: #d2d1d1 1px solid; HEIGHT: 30px; BACKGROUND: url(images/d2_1.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 0px auto; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px; WIDTH: 517px
}
.d2_4 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 8px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px; WIDTH: 510px
}
.zt_container {
	OVERFLOW: hidden; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #d3d3d3 1px solid; PADDING-BOTTOM: 12px; BORDER-LEFT: #d3d3d3 1px solid; MARGIN-TOP: 5px; WIDTH: 978px
}
.zt_content {
	OVERFLOW: hidden; BACKGROUND: url(images/ztbg.gif); MARGIN-TOP: 10px; WIDTH: 959px
}
.zt_left {
	BORDER-TOP: #d2d1d1 1px solid; BORDER-BOTTOM: #d2d1d1 1px solid; WIDTH: 230px
}
.zt_right {
	WIDTH: 713px
}
.zt_1 {
	HEIGHT: 30px; BACKGROUND: url(images/zt_1.gif) repeat-x; PADDING-LEFT: 10px; MARGIN: 2px auto 0px; LINE-HEIGHT: 30px; WIDTH: 216px
}
.zt_2 {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 210px
}
.zt_2 P {
	TEXT-ALIGN: left
}
.zt_2 IMG {
	BORDER-TOP: #ecd8a3 1px solid; BORDER-RIGHT: #ecd8a3 1px solid; BORDER-BOTTOM: #ecd8a3 1px solid; MARGIN: 5px 0px; BORDER-LEFT: #ecd8a3 1px solid
}
.zt_3 LI IMG {
	BORDER-TOP: #ecd8a3 1px solid; BORDER-RIGHT: #ecd8a3 1px solid; BORDER-BOTTOM: #ecd8a3 1px solid; MARGIN: 5px 0px; BORDER-LEFT: #ecd8a3 1px solid
}
.zt_3 {
	PADDING-BOTTOM: 8px; MARGIN: 8px auto 0px; WIDTH: 182px
}
.zt_3 LI {
	WIDTH: 182px
}
.zt_3 LI IMG {
	DISPLAY: block
}
.zt_4 {
	HEIGHT: 30px; BACKGROUND: url(images/zt_2.gif) repeat-x; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; LINE-HEIGHT: 30px; PADDING-RIGHT: 8px; WIDTH: 697px
}
.zt_5 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 8px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px; WIDTH: 670px
}
.wb_right {
	OVERFLOW: hidden; BORDER-TOP: #d2d1d1 1px solid; BORDER-RIGHT: #d2d1d1 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #d2d1d1 1px solid; PADDING-BOTTOM: 15px; BORDER-LEFT: #d2d1d1 1px solid; WIDTH: 797px
}
.wb_right H4 {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right H1 {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right H2 {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right H5 {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right SPAN {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right P {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 734px
}
.wb_right H4 {
	PADDING-BOTTOM: 12px; PADDING-TOP: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.wb_right H1 {
	FONT-SIZE: 30px; LINE-HEIGHT: 190%
}
.wb_right H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.wb_right H5 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.wb_right H5.one {
	BACKGROUND: url(images/dian1.gif) repeat-x 50% bottom; PADDING-BOTTOM: 5px
}
.wb_right SPAN {
	TEXT-ALIGN: left; PADDING-TOP: 11px; DISPLAY: block
}
.wb_right P {
	FONT-SIZE: 14px; TEXT-ALIGN: left; PADDING-TOP: 10px; MARGIN: 0px auto; LINE-HEIGHT: 180%; WIDTH: 95%
}
.wb_right DIV {
	FONT-SIZE: 14px; MARGIN: 0px auto; WIDTH: 95%
}
.copyright {
	TEXT-ALIGN: center; PADDING-TOP: 10px; CLEAR: both; MARGIN: 10px auto; WIDTH: 980px
}
.img_a {
	FLOAT: left; TEXT-ALIGN: center; MARGIN: 10px 0px 0px 10px; WIDTH: 115px
}
.p2_3_left .p2_3_1 UL {
	FLOAT: left; CLEAR: none; MARGIN: 0px 0px 0px 5px; WIDTH: 410px
}
A.more {
	FONT-SIZE: 12px; FLOAT: right
}
H3 IMG {
	MARGIN-TOP: 5px
}
.p2_2_3 {
	BORDER-BOTTOM-STYLE: none; MARGIN-TOP: 0px
}
.p2_2_4 {
	BACKGROUND: #f4faff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.list_14b LI {
	LINE-HEIGHT: 26px
}
.list_14b DIV {
	TEXT-ALIGN: right; MARGIN: 5px auto; WIDTH: 100%
}
.list_14b DIV A:link {
	FLOAT: none; COLOR: #990001
}
.list_14b DIV A:visited {
	FLOAT: none; COLOR: #990001
}
.list_14b DIV A:hover {
	FLOAT: none; COLOR: #990001
}
.list_14b DIV STRONG {
	FLOAT: left
}
.p2_3_1 {
	PADDING-BOTTOM: 0px
}
.p2_2_right H3 IMG {
	MARGIN: 0px
}
.list_12b {
	MARGIN: 10px
}
.list_12b LI P A {
	MARGIN: 0px 12px 0px 0px
}
.p2_1 UL {
	MARGIN-TOP: 0px
}
.p2_1 {
	MARGIN-TOP: 10px
}
.p2_1 UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: -1px 0px 0px
}
.p2_1 UL LI.pl_tit {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.p2_1 UL LI.pl_tit IMG {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.p2_1 UL LI.pl_tit {
	HEIGHT: 34px; MARGIN-TOP: 1px
}
.zdfy {
	TEXT-ALIGN: center
}
.ad_top {
	MARGIN-BOTTOM: 10px
}
